{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand"><img src="{% static 'dashboard/img/icons8-data-analytics-96.png' %}" height="30" style="margin-left: 15px;"
            class="d-inline-block align-top" alt="PIADDA-Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:index' %}"> Home </a>
            </li>
        </ul>
    </div>
    <span class="navbar-text">
        PIADDA - Piadda Is Another Data Dashboard Attempt
    </span>
</nav>