{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'dashboard/js/piadda.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/css/one-style.css' %}?{% now 'U' %}" />
<main>
  <div class="flex-shrink-0 p-3 bg-white" style="width: 320px;">
    <span
      class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-5 fw-semibold">ROS2 Topics</span>
    <ul class="list-unstyled ps-0">
      {% for topic in topics %}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#home-collapse{{forloop.counter}}">
          {{ topic.name }} - {{ topic.msg_types.0 }}
        </button>
        <div class="collapse" id="home-collapse{{forloop.counter}}">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% for key, values in topic.fields_tree.items %}
            {% for value in values %}
            <li>
              <input class="form-check-input topic-check-input" type="checkbox" value="{{value}}" id="field-{{topic.name}}-{{value}}" data-topic="{{topic.name}}" data-msg-type="{{topic.msg_types.0}}">
              <label class="form-check-label" for="field-{{topic.name}}-{{value}}">
                {{value}}
              </label>
            </li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="form-group mb-3">
      <button type="button" onclick="processForm('map')" class="btn btn-primary">Add XY Map</button>
    </div>
    <div class="form-group mb-3">
      <button type="button" onclick="processForm('series')" class="btn btn-primary">Add Time Series</button>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div id="graphics">
  </div>
</main>
{% endblock %}